/* база */
body{
    background: #333333;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}
.bg{
    size: 100vh;
    background: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url(bg.jpg);
    margin-bottom: 150px;
}
/* шапка */
header{
    justify-content: center;
    display: flex;
    margin-bottom: 130px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
header p{
    margin-left: 65px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
header p:nth-child(6){
    margin-left: 380px;
    border-bottom: 2px solid #D1A954;
}
/* лендинг */
.ofer{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    margin: 0;
    margin-left: 405px;
    padding-bottom: 130px;
    letter-spacing: 0.1em;
    
}

.scrol{
    color: white;
    margin-left: 125px;
    margin-bottom: 210px;
    
}

.scrol p{
    cursor: pointer;
}

.scrol div{
    display: flex;
    margin: 0;
    font-size: 20px;
}

.scrol p:nth-child(1){
    margin-left: 30px;
}

.scrol p:nth-child(2){
    text-align: right;
    margin-left: 230px;
}
.scrol_img{
    height: 490px;
    width: 350px;
    display: flex;
    cursor: pointer;
}

.flexbox{
    display: flex;
}

.home{
    display: flex;
    align-items: center;
    
}

.ofer h2{
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 0px;
}
.ofer h1{
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.btn{
    height: 50px;
    width: 160px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: #D1A954;
    color: white;
    border: none;
    cursor: pointer;
}
/* о нас страница */
.discrp{
    display: flex;
    margin-bottom: 150px;
}

.about{
    
}

.about h1{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 65px;
    font-size: 48px;
    margin-bottom:100px;
}
.about h1::first-letter{
    color: #D1A954;
}
.about h2{
    
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about h3{
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.about .cifri{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;

}
.discrp{
    text-align: left;
    margin-left: 405px;
    margin-top: 0;
    
}
.cifri{
    text-align: left;
    margin-left: 30px;
    
}
.cifri p{
    margin-top: 15px;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.cifri p:nth-of-type(2){
    margin-bottom: 0;
}

.cifri span{
    color:#D1A954;
}
.discrpimg{
    height: 292px;
    width: 350px;
    margin-left: 30px;
}

.ourPerfrmns h1{
    margin-bottom: 100px;
}

.ourPerfrmns h1 span{
    color: #D1A954;
}

.ourPerfrmns div{
    margin-left: 150px;
}

.sldr{
    display: flex;
    position: relative;
}

.sldr img{
    height: 500px;
    width: 392;
    
}

.sldr div{
    margin: 0;
}

.sldr p{
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}







/* футер */
hr{
    margin-top: 1500px;
}
